* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
#roleLabel,
#clearMateriaBtn {
  margin-left: 10px;
}

main,
section {
  border: solid;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  min-width: 500px;
}

section {
  grid-template-columns: repeat(2, 1fr);
}

main {
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(12, auto);
}

section {
  min-height: 50px;
  gap: 50px;
}

.gearContainer {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  grid-auto-flow: column;
  gap: 5px;
}

.left {
  grid-row: 1 / span 5;
  align-self: center;
}

.materiaSelect {
  flex: 0;
  border-color: deepskyblue;
}

label {
  text-align: right;
  width: 82px;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

table td {
  text-wrap: nowrap;
}

table .right {
  width: 100%;
  padding-left: 2px;
}

table .left {
  text-align: right;
}

table #scrip2Result,
#scrip2Num {
  height: 100%;
  vertical-align: top;
}

#clearMateriaBtn,
#clearAllBtn {
  margin-top: 10px;
  right: 10px;
}

@media (min-width: 2210px) {
  main {
    grid-template-columns: repeat(2, auto) 1fr;
    grid-template-rows: repeat(6, auto);
  }
}

@media (min-width: 1125px) {
  .gearContainer {
    display: grid;
    grid-template-columns: repeat(7, auto) 1fr;
    grid-auto-flow: column;
    gap: 5px;
  }

  .left {
    grid-row: 1;
    align-self: center;
  }

  #results {
    grid-template-columns: 508px 1fr;
  }
}
